body {padding: 100px 0;}
.wrap {width: 900px; margin: auto; height: 100%; background-color: cornflowerblue; position: relative;}
/* transition / transform / translate */
.box {width: 200px; height: 200px; background-color: crimson;
	
	/* keyframes 의 이름 */
	animation-name: ani2;
	
	/* animation의 속도 */
	animation-duration: 3s;

	/* animation의 지연시간 */
	animation-delay: 0s;

	/* animation의 반복횟수 (infinite 무한반복) */
	animation-iteration-count: 1;

	/* animation 방향 normal/reverse 
	단 alternate와 alternate-reverse는 animation-iteration-count가 2 이상 이어야 실행됨 */
	animation-direction: normal;

	/* backwards(기본값): animation 종료 후 첫 프레임으로 돌아감.
	   forwards는 animation 종료 후 마지막 프레임에 멈춰 있음. */
	animation-fill-mode: forwards;
}

.rotate {width: 50px; height: 50px; position: absolute; top: 370px; left: 425px; background-color: chartreuse;
	animation-name: rot1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	/* animation의 동작 함수 */
	animation-timing-function: linear;
}
.rotate:hover {
	/* animation을 멈춤(paused), 실행(running) */
	animation-play-state: paused;
}

@keyframes ani1 {
	0% {transform: translate(0, 0);}
	25% {transform: translate(600px, 0); background-color: red; width: 300px;}
	50% {transform: translate(700px, 500px); width: 200px;}
	75% {transform: translate(0, 500px); background-color: blueviolet;}	
	100% {transform: translate(0, 0);}
}

@keyframes ani2 {
	0% {transform: translate(0, 0);}
	33.33% {transform: translate(600px, 0); background-color: red; width: 300px;}
	66.66% {transform: translate(700px, 500px); width: 200px;}
	100% {transform: translate(0, 500px); background-color: blueviolet;}	
}

@keyframes rot1 {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}