@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import 'base.css';

html, body {font-family: 'Open Sans', sans-serif;}

/* box-shadow: 좌우 상하 퍼짐값 컬러 */
.header {background-color: #fff; padding: 8px 16px; letter-spacing: 4px; box-shadow: 0 3px 3px rgba(0,0,0,0.3); position: fixed; width: 100%; z-index: 9999; display: flex; justify-content: space-between;}
.header > .logo {padding: 8px 12px; cursor: pointer; font-size: 1.25rem;}
.header > .logo:hover {background-color: #ccc;}
.header > .navs {display: flex;}
.header > .navs > div {padding: 8px 12px; cursor: pointer; font-size: 1.25rem;}
.header > .navs > div:hover {background-color: #ccc;}

.wrap {width: 100%; max-width: 1500px; margin: 0 auto;}
.bans {width: 100%; height: 80vh; background: url(../img/architect.jpg) no-repeat center; display: flex; justify-content: center; align-items: center;}
.bans > .c-name {color: #fff; font-size: 3vw; letter-spacing: 6px;}
/*
.bans {position: relative;}
.bans > .c-name {position: absolute; color: #fff; font-size: 3vw; 
	left: 50%; top:50%; transform: translate(-50%, -50%); letter-spacing: 6px;}
*/
.bans > .c-name > :first-child {background-color: rgba(0,0,0,0.7); padding: 8px 16px; font-weight: bold;}

.section {margin-top: 36px;}
.sec-tit {padding: 12px 0; font-size: 1.5rem; color: #000; 
	border-bottom: 1px solid #ccc;}
.prds {margin-top: 36px; display: flex; flex-wrap: wrap; justify-content: space-between;}
.prd {flex: 0 1 24%; margin-bottom: 1.2%; position: relative;}
/* .prd {width: 24%; float: left; margin-right: 1.33%; margin-bottom: 1.33%; position: relative;}
.prd:nth-child(4), .prd:nth-child(8) {margin-right: 0;} */
.prd-tit {position: absolute; background-color: #000; color: #fff; padding: 10px; 
	left: 0; top: 0; font-size: 1rem;}

.sec-summary {margin-top: 1rem; font-size: 1rem; text-align: justify;}
.mems {margin-top: 1.5rem; display: flex; justify-content: space-between; flex-wrap: wrap;}
.mem {flex: 0 1 24%; margin-bottom: 3%;}
/* .mem {width: 24%; margin-right: 1.33%; margin-bottom: 3%; float: left;}
.mem:last-child {margin-right: 0;} */
.mem-name {font-size: 1.5rem; padding: 0.5rem 0;}
.mem-job {font-size: 0.875rem; padding: 0.25rem 0; color: #666;}
.mem-cont {font-size: 1rem; padding: 0.25rem 0;}
.mem-bt {font-size: 1rem; margin-top:0.5rem; padding: 0.5rem 0; background-color: #eee; text-align: center; cursor: pointer;}
.mem-bt:hover {background-color: #ccc;}


.contact-form > .ins {margin-top: 1.5rem;}
.contact-form > .ins > li {padding: 0.5rem 0;}
.contact-form > .ins input {width: 100%; padding: 0.75rem;}
.contact-form > .bts {margin: 1.5rem 0;}
.contact-form > .bts > button {padding: 1rem; background-color: #121212; color: #f8f8f8; cursor: pointer;}
.contact-form > .bts > button:hover {background-color: #ddd; color: #121212;}


.footer {padding: 1.5rem 0; text-align: center; color: #f8f8f8; background-color: #121212;}

/* 태블릿 가로 */
@media screen and (max-width: 1024px) {

}

/* 태블릿 세로 */
@media screen and (max-width: 768px) {
	html, body {font-size: 18px;}
	.wrap {width: 96%;}
	.header > .navs {display: none;}
	/* .bans > .c-name > :last-child {display: none;} */
	.prd {flex-basis: 49%;}
	.mem {flex-basis: 49%;}
}

/* 스마트폰 가로 */
@media screen and (max-width: 480px) {
	.prd {flex-basis: 100%;}
	.mem {flex-basis: 100%;}
}

/* 스마트폰 세로 */
@media screen and (max-width: 320px) {
	html, body {font-size: 20px;}
}